<h1>Create a new profile</h1>

<%= form_with model: @profile, url: profile_path do |form| %>
  <div class="field">
    <%= form.label :profile_picture, "Profile picture: " %>
    <%= form.file_field :profile_picture %>
  </div>

  <div class="field">
    <%= form.label :biography , "Bio: " %>
    <%= form.text_area :biography %>
  </div>

  <div class="action">
    <%= form.submit "Create profile" %>
  </div>
<% end %>