<div id="<%= dom_id post %>" class="post">
  <div class="content">
    <p class="email"><%= post.author.email %></p>
    <p class="body"><%= post.body %></p>
    <p>Like: <%= post.like_amount %></p>
  </div>

  <div class="actions">
    <%= link_to "Like", like_post_path(post), data: { "turbo-method" => :patch } %>
    <%= link_to "Comment", new_comment_path(post_id: post.id), data: { "turbo-method" => :get } %>
  </div>

  <div class="comments">
    <% if post.comments.empty? %>
      <p class="comment" style="text-align: center;">There is no comment for this post.</p>
    <% else %>
      <% post.comments.each do |comment| %>
        <div class="comment">
          <h3><%= comment.author.email %></h3>
          <p><%= comment.body%></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
