<div id="<%= dom_id post %>" class="post">
  <div class="content">
    <h2><%= post.author.email %></h2>
    <p><%= post.body %></p>
    <p>Like amount: <%= post.like_amount %></p>
  </div>

  <div class="actions">
    <%= link_to "Like", like_post_path(post), data: { "turbo-method" => :patch } %>
    <%= link_to "Comment", new_comment_path(post_id: post.id), data: { "turbo-method" => :get } %>
  </div>

  <div class="comments">
    <% if post.comments.empty? %>
      <p style="text-align: center;">There is no comment for this post.</p>
    <% else %>
      <% post.comments.each do |comment| %>
        <p><%= comment.body%></p>
        <p>By <%= comment.author.email %></p>
      <% end %>
    <% end %>
  </div>
</div>
