<div id="<%= dom_id post %>">
  <div>
    <p>By <%= post.author.email %></p>
    <p><%= post.body %></p>
    <p>Like amount: <%= post.like_amount %></p>
  </div>

  <div class="action">
    <%= button_to "Like", like_post_path(post), method: :patch %>
  </div>
</div>
