<div class="main-container">
  <div class="sidebar-container">
    <div>
      <%= link_to "New post", new_post_path %>
    </div>
  
    <div>
      <%= link_to "Discover new friends", strangers_path %>
    </div>
  
    <div>
      <%= link_to "Friend requests", friend_requests_path %>
    </div>
  
    <div>
      <%= link_to "Profile", user_path(current_user) %>
    </div>
  </div>
  
  <div class="posts-container">
    <div id="posts">
      <%= render @posts %>
    </div>
  </div>
</div>
