<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>

    <div class="nav-bar">
      <%= link_to "Homepage", root_path %>
      <%= link_to "Signout", destroy_user_session_path, data: { "turbo-method": :delete } %>
    </div>

    <%= yield %>
  </body>
</html>
